{% extends "blog/base.html" %} {% block content %}
<h1 class="title">{{post.title}}</h1>
<small>Posted at {{post.posted_date}}</small>
<p>{{post.intro}}</p>
<p>{{post.body}}</p>
<hr />

<!-- Show comments -->
<h2 class="subtitle">Comments</h2>

{% for comment in post.comments.all %}
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <strong>
                    {{comment.name}}
                    <small>{{comment.posted_date}}</small>
                </strong>
                <br />
                {{comment.body}}
            </p>
        </div>
    </div>
</article>
{% empty %}
<div class="notification">
    <p>No comments yet.</p>
</div>
<hr>
{% endfor %}

<!-- Add a form to submit comments -->
<h2 class="subtitle">Add a commment</h2>

<form action="." method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="field">
        <div class="control">
            <button class="button is-danger">Submit</button>
        </div>
    </div>
</form>

{% endblock %}